// for /react test

// Toggle
.btn-icon {
    font-size: 350%;
}

// Button-Set
.btn-group-justified {
    > a,
    > span {
        font-size: 230%;
    }
}

.margin-top {
    margin-top: 1em;
}

textarea.form-control.log {
    color: #fff;
    height: 300px;
}

.status-bar {
    display: none;

    &.offline {
        color: black;
        display: block;
    }
}

// TODO Move sass to webpack 
.table tbody td {
    > .btn, 
    > .btn-group {
        margin: -9px;
    }  
} 
