{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-bitwise": 2,
    "curly": 2,
    "eqeqeq": 2,
    "no-use-before-define": 2,
    "new-cap": 2,
    "no-caller": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-trailing-spaces": 2,
    "strict": [2, "function"],
    "quotes": [2, "single"],
    "complexity": [1, 3]
  }
}