# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Server
apps/server/.env
apps/server/auth.json

# Rescript dummy files
.merlin
lib/bs
apps/client/src/Dummy.bs.js

apps/client/src/gitinfo.json

libs/types/src/lib/volvo/*.json
libs/types/examples/

NOTES.md

.nx/cache
