/.idea
/node_modules
/homeremote-error.log
/settings.json
/users.htpasswd
/auth.json
/dummy-homeremote-playradio-status.log
homeremote\.sublime-project
homeremote\.sublime-workspace
polymer\.sublime-project
polymer\.sublime-workspace
/public
/gitinfo.json