/.idea
/homeremote-error.log
/settings.json
/users.htpasswd
/auth.json
/dummy-homeremote-playradio-status.log
homeremote\.sublime-project
homeremote\.sublime-workspace
polymer\.sublime-project
polymer\.sublime-workspace
/src/gitinfo.json

# Rescript dummy files
/lib/bs

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
