DOMOTICZ_URI=http://localhost:8080
STATUS_CMD=echo { \"field1\": \"field1value\", \"field2\": \"field2value\" }
STATUS_FIELD1=field1
STATUS_FIELD2=field2
URL_TO_MUSIC_ROOTPATH=/home/someuser/music/2021
OWNERINFO_UID=1000
OWNERINFO_GID=1000
DOWNLOAD_BASE_URL=http://localhost:1234/
DOWNLOAD_USERNAME=some_username
DOWNLOAD_PASSWORD=some_password
INFLUX_URL=https://some_url:8086
INFLUX_TOKEN=123
INFLUX_ORG=some_org
SERVICE_LINKS=Pi-Hole,pihole,http://192.168.0.1;Monit,visibility,http://192.168.0.1
STEREO8_TOKEN=123
JUKEBOX_BASE_URL=http://localhost:1235/rest/
JUKEBOX_USERNAME=some_username
JUKEBOX_SALT=see_readme
JUKEBOX_API_TOKEN=see_readme
MONIT=username,password,http://192.168.0.1:80/_status?format=xml;username,password,http://192.168.0.1:80/_status?format=xml