h1 {
  text-align: center;
}
button {
  background-color: black;
  border: none;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}
button::before {
  background-color: red;
  border: 2px solid #990000;
  content: '';
  display: block;
  height: 0.5em;
  margin: -0.5em auto 0 auto;
  width: 2em;
}
button.active::before {
  background-color: green;
  border: 2px solid #004d00;
}
button.waiting::before {
  background-color: blue;
  border: 2px solid #0000cc;
}
button.error::before {
  background-color: #ccc;
  border: 2px solid #b3b3b3;
}
