.card {
    margin-bottom: 0.2em;

    > div {
        padding-bottom: 0 !important;
    }
}

.button-group {
    display: flex;
    padding: 0 !important;
    align-items: center; /* flex on vertical axis (perpendicular to flex direction) */

    .label {
        flex: 1;
        text-align: center;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.7em 1.2em;
    }

    .dummy {
        height: 24px;
        width: 24px;
    }
}
