h1 {
    text-align: center;
}

button {
    background-color: black;
    border: none;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2em;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;

    &::before {
        background-color: red;
        border: 2px solid darken(red, 20%);
        content: '';
        display: block;
        height: 0.5em;
        margin: -0.5em auto 0 auto;
        width: 2em;
    }

    &.active::before {
        background-color: green;
        border: 2px solid darken(green, 10%);
    }
}