@import "toggle";

h1 {
    text-align: center;
}

.well {
    margin-top: 10px;
}

textarea#log {
    background-color: transparent;
    border: none;
    color: #fff;
    height: 300px;
}

// for touch devices, don't show dark background when button focus, because it will keep focus after pressing
.btn:focus:not(:active) {
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

@media (max-width: 600px) {
    .btn {
        display: block;
        font-size: 2em;
        margin-bottom: 1em;
        padding: 1em;
        width: 100%;
    }
}