.log-card {
    height: 100%;
    max-height: 100%;
}

.log-card > div {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.log {
    height: 100%;
    overflow-y: auto;
}

.log-card-text {
    flex: 1;
}

.log-card-actions {
    //flex: 1;
}

.version {
    font-size: 0.7rem !important;
    padding: 2px 16px 0 !important;
}
